@model ProfileViewModel


<form method="post" asp-action="Profile" id="profileForm">
	<div class="page-wrapper">
		<div class="content">
			<div class="page-header">
				<div class="page-title">
					<h4>Profile</h4>
					<h6>User Profile</h6>
				</div>
			</div>
			<input type="hidden" id="originalFirstName" value="@Model.User.FirstName" />
			<input type="hidden" id="originalLastName" value="@Model.User.LastName" />
			<input type="hidden" id="originalEmail" value="@Model.User.Email" />
			<input type="hidden" id="originalPhoneNumber" value="@Model.User.PhoneNumber" />
			<input type="hidden" id="originalUserName" value="@Model.User.UserName" />

			<div class="text-danger" asp-validation-summary="All"></div>
			<div id="resultMessage" class="text-danger"></div>


			<div class="card">
				<div class="card-body">
					<div class="profile-set">
						<div class="profile-head">
						</div>
						<div class="profile-top">
							<div class="profile-content">
								<div class="profile-contentimg">
									<img src="~/img/customer/customer5.jpg" alt="img" id="blah">
									<div class="profileupload">
										<input type="file" id="imgInp">
										<a href="javascript:void(0);"><img src="~/img/icons/edit-set.svg" alt="img"></a>
									</div>
								</div>
								<div class="profile-contentname">
									<h2>@Model.User.Employee.Name</h2>
									<h4>Updates Your Photo and Personal Details.</h4>
								</div>
							</div>
							<div class="ms-auto">
								<a href="javascript:void(0);" class="btn btn-submit me-2">Save</a>
								<a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label>First Name</label>
								<input class="form-control" asp-for="User.FirstName" type="text">
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label>Last Name</label>
								<input class="form-control" asp-for="User.LastName" type="text">
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label>Email</label>
								<input class="form-control" asp-for="User.Email" type="text">
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label>Phone</label>
								<input class="form-control" asp-for="User.PhoneNumber" type="text">
							</div>
						</div>

						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label asp-for="CurrentPassword">Current Password</label>
								<div class="pass-group">
									<input asp-for="CurrentPassword" type="password" class="pass-input form-control">
									<span class="fas toggle-password fa-eye-slash"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label asp-for="NewPassword">New Password</label>
								<div class="pass-group">
									<input asp-for="NewPassword" type="password" class="pass-input form-control">
									<span class="fas toggle-password fa-eye-slash"></span>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-sm-12">
							<div class="form-group">
								<label>User Name</label>
								<input class="form-control" asp-for="User.UserName" type="text">
							</div>
						</div>
						
						<div class="col-12">
							<button id="saveChanges" type="submit" class="btn btn-submit me-2">Submit</button>
							<a href="javascript:void(0);" class="btn btn-cancel">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</form>




@section Scripts
{
	@*Toggle password visibility*@
	<script>

		$(document).ready(function () 
		{
			if ($('.toggle-password').length > 0) {

				// Override the existing toggle-password functionality
				$(document).off('click', '.toggle-password');


				// Add a new event listener for the .toggle-password class
				$(document).on('click', '.toggle-password', function () 
				{
					$(this).toggleClass("fa-eye fa-eye-slash");

					var input = $(this).siblings(".pass-input");

					if (input.attr("type") == "password") {
						input.attr("type", "text");
					} else {
						input.attr("type", "password");
					}
				});
			}
		});

		document.addEventListener('DOMContentLoaded', function () 
		{
            document.getElementById('profileForm').addEventListener('submit', function (event) 
			{
                var originalFirstName = document.getElementById('originalFirstName').value;
                var originalLastName = document.getElementById('originalLastName').value;
                var originalEmail = document.getElementById('originalEmail').value;
                var originalPhoneNumber = document.getElementById('originalPhoneNumber').value;
                var originalUserName = document.getElementById('originalUserName').value;

                var currentFirstName = document.getElementById('User_FirstName').value;
                var currentLastName = document.getElementById('User_LastName').value;
                var currentEmail = document.getElementById('User_Email').value;
                var currentPhoneNumber = document.getElementById('User_PhoneNumber').value;
                var currentUserName = document.getElementById('User_UserName').value;
				var currentPassword = document.getElementById('CurrentPassword').value;
				var newPassword = document.getElementById('NewPassword').value;

                if (originalFirstName === currentFirstName &&
                    originalLastName === currentLastName &&
                    originalEmail === currentEmail &&
                    originalPhoneNumber === currentPhoneNumber &&
                    originalUserName === currentUserName && (!currentPassword || !newPassword)) 
				{
                    event.preventDefault();


                    var resultMessage = document.getElementById('resultMessage');

                    resultMessage.innerText = 'No changes detected. Form not submitted.';
					return;
                }
            });
        });
	</script>

}