@using InventorySystem.Enums
@model IEnumerable<InventorySystem.Models.AlertReport>

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Stock Level Report</h4>
                <h6>Manage your Stock Level Report</h6>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-path">
                            <a class="btn btn-filter" id="filter_search">
                                <img src="~/img/icons/filter.svg" alt="img">
                                <span><img src="~/img/icons/closes.svg" alt="img"></span>
                            </a>
                        </div>
                        <div class="search-input">
                            <a class="btn btn-searchset" id="searchButton"><img src="~/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                    <div class="wordset">
                        <ul>
                            <li>
                                <a href="@Url.Action("Export", "Report", new { format = "pdf", reportType = "stock"})" data-bs-toggle="tooltip" data-bs-placement="top" title="Export to PDF">
                                    <img src="~/img/icons/pdf.svg" alt="img">
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Export", "Report", new { format = "excel", reportType = "stock"})" data-bs-toggle="tooltip" data-bs-placement="top" title="Export to Excel">
                                    <img src="~/img/icons/excel.svg" alt="img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card" id="filter_inputs">
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="input-groupicon">
                                        <input type="text" placeholder="From Date" class="datetimepicker" id="fromDate">
                                        <div class="addonset">
                                            <img src="~/img/icons/calendars.svg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-6 col-12">
                                <div class="form-group">
                                    <div class="input-groupicon">
                                        <input type="text" placeholder="To Date" class="datetimepicker" id="toDate">
                                        <div class="addonset">
                                            <img src="~/img/icons/calendars.svg" alt="img">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-1 col-sm-6 col-12 ms-auto">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto" id="filterButton"><img src="~/img/icons/search-whites.svg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table datanew" id="stockReportTable">
                        <thead>
                            <tr>
                                <th>
                                    <label class="checkboxs">
                                        <input type="checkbox" id="select-all">
                                        <span class="checkmarks"></span>
                                    </label>
                                </th>
                                <th>Product Name</th>
                                <th>Date</th>
                                <th>Product Quantity</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var report in Model)
                            {
                                <tr>
                                    <td>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span class="checkmarks"></span>
                                        </label>
                                    </td>
                                    <td>@report.Product.Name</td>
                                    <td>@report.Date.ToShortDateString()</td>
                                    <td>@report.Product.Count</td>
                                    @if (@report.Status.ToString() == "warning")
                                    {
                                        <td><span class="badges bg-warning">@report.Status.ToString()</span></td>
                                    }
                                    else{
                                        <td><span class="badges bg-lightred ">@report.Status.ToString()</span></td>
                                    }
                                    

                                </tr>
                                    
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
