
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Auth_Layout.cshtml";
}

@model Tuple<LoginViewModel, SignUpViewModel>

<style>
    .checkbox-container {
        display: flex;
        align-items: center;
        align-self:start;
        margin-left: 10px;
    }

    .checkbox-container input {
        margin-right: 5px;

    }

    .checkbox-container label {
        font-size: 0.7rem;
        white-space:nowrap;
    }
</style>



<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="signupForm" asp-action="SignUp" method="post">
            <h2>Create Account</h2>
            <div class="range-container">
            <input asp-for="Item2.FirstName" placeholder="@Html.DisplayNameFor(model=> model.Item2.FirstName)" />
            <input asp-for="Item2.LastName" placeholder="@Html.DisplayNameFor(model=> model.Item2.LastName)" />
            </div>
            <input asp-for="Item2.UserName" placeholder="@Html.DisplayNameFor(model=> model.Item2.UserName)" />
            <input asp-for="Item2.Email" type="email" placeholder="@Html.DisplayNameFor(model=> model.Item2.Email)" />
            <div class="pass-group">
                <input asp-for="Item2.Password" type="password" placeholder="@Html.DisplayNameFor(model=> model.Item2.Password)" class="pass-input"/>
                <span class="fas toggle-password fa-eye-slash"></span>
            </div>
            <div class="pass-group">
                <input asp-for="Item2.ConfirmPassword" type="password" placeholder="@Html.DisplayNameFor(model=> model.Item2.ConfirmPassword)" class="pass-input"/>
                <span class="fas toggle-password fa-eye-slash"></span>
            </div>
            <input asp-for="Item2.PhoneNumber"  placeholder="@Html.DisplayNameFor(model=> model.Item2.PhoneNumber)" />
            <button style = "margin-top: 15px;" type="submit">Sign Up</button>
            <div class="text-danger" id="signup-error-container">
                <div asp-validation-summary="All"></div>
            </div>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form id="loginForm" asp-action="Login" method="post">
            <h2>Sign in</h2>
            <input asp-for="Item1.Email" type="email" placeholder="Email" />
            <div class="pass-group">
                <input asp-for="Item1.Password" type="password" placeholder="Password" class="pass-input"/>
                <span class="fas toggle-password fa-eye-slash"></span>
            </div>
            <div class="form-group form-check checkbox-container">
                <input id="RememberMe" class="form-check-input" type="checkbox" asp-for="Item1.RememberMe" />
                <label class="form-check-label" asp-for="Item1.RememberMe"></label>
            </div>
            <button style = "margin-top: 15px;" type="submit" class="btn btn-info">Sign In</button>
            <div class="text-danger" id="error-container">
                <div asp-validation-summary="All"></div>
            </div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    @* Client Side validation *@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () 
        {
            if ($('.toggle-password').length > 0) {

                // Add a new event listener for the .toggle-password class
                $(document).on('click', '.toggle-password', function ()
                {
                    $(this).toggleClass("fa-eye fa-eye-slash");

                    var input = $(this).siblings(".pass-input");

                    if (input.attr("type") == "password") {
                        input.attr("type", "text");
                    } else {
                        input.attr("type", "password");
                    }
                });
            }

            $('#loginForm').validate();
            $('#signupForm').validate();

            const signUpButton = document.getElementById('signUp');
            const signInButton = document.getElementById('signIn');
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () => {
                container.classList.add("right-panel-active");
            });

            signInButton.addEventListener('click', () => {
                container.classList.remove("right-panel-active");
            });


            $('#loginForm').on('submit', function (e) 
            {
                e.preventDefault(); // Prevent normal form submission

                if ($('#loginForm').valid()) {
                    var formData = $(this).serialize(); // Serialize form data

                    $.ajax({
                        url: '@Url.Action("Login")', // Replace with your login action URL
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                // Handle successful login (e.g., redirect)
                                window.location.href = response.redirectUrl;
                            } else {
                                var ul = $('<ul>').addClass('text-danger');

                                // Clear previous validation summary errors
                                $('#error-container').find('ul').remove();

                                $.each(response.errors, function (key, errorMessage) {
                                    $('<li>').text(errorMessage).appendTo(ul);
                                });

                                $('#error-container').append(ul);

                                // Clear the password field
                                $('#Item1_Password').val('');
                            }
                        },
                        error: function () {
                            // Handle server error
                            alert('An error occurred, please try again.');
                        }
                    });
                }
            });


     
            $('#signupForm').on('submit', function (e) 
            {
                e.preventDefault(); // Prevent normal form submission

                if ($('#signupForm').valid()) 
                {
                    var formData = $(this).serialize(); // Serialize form data

                    $.ajax({
                        url: '@Url.Action("SignUp")', // Replace with your signup action URL
                        type: 'POST',
                        data: formData,
                        success: function (response) {
                            if (response.success) {
                                // Handle successful signup (e.g., redirect)
                                window.location.href = response.redirectUrl; // Adjust based on your logic
                            } else {

                                var ul = $('<ul>').addClass('text-danger');

                                // Clear previous validation summary errors
                                $('#signup-error-container').find('ul').remove();


                                $.each(response.errors, function (key, errorMessage) {
                                    $('<li>').text(errorMessage).appendTo(ul);
                                });

                                // Add validation errors to the validation summary
                                $('#signup-error-container').append(ul);

                                // Clear the password fields on error
                                $('#Item2_Password').val('');
                                $('#Item2_ConfirmPassword').val('');
                            }
                        },
                        error: function () {
                            // Handle server error
                            alert('An error occurred, please try again.');
                        }
                    });
                }
            });
        });
    </script>
}
