@model ProductViewModel

<form method="post" asp-action="EditProduct" id="edit-product-form">
    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product Add</h4>
                    <h6>Update new product</h6>
                </div>
            </div>

            <input hidden asp-for="Product.Id"/>
            <input type="hidden" id="originalProductName" value="@Model.Product.Name" />
            <input type="hidden" id="originalCategoryId" value="@Model.Product.Category.Id" />
            <input type="hidden" id="originalPrice" value="@Model.Product.Price" />
            <input type="hidden" id="originalAlertLevel" value="@Model.Product.AlertLevel"/>
            <input type="hidden" id="originalCount" value="@Model.Product.Count" />

            <div class="text-danger" asp-validation-summary="All"></div>
            <div id="resultMessage" class="text-danger"></div>


            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="Product.Name"></label>
                                <input asp-for="Product.Name" type="text">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="Product.Category"></label>
                                <select class="form-select" asp-for="CategoryId" required>
                                    <option value="-1">Choose Category</option>
                                    @if (Model.Categories is not null)
                                    {
                                        @foreach (var category in Model.Categories)
                                        {
                                            if(category.Id == Model.Product.Category.Id)
                                            {
                                                <option value="@category.Id" selected>@category.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@category.Id">@category.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="Product.Suppliers"></label>
                                <select class="selectpicker" id="multiple-checkboxes" asp-for="SuppliersId"
                                        multiple data-live-search="true" data-selected-text-format="count" title="Choose suppliers">
                                    @if (Model.Product.Suppliers is not null)
                                    {
                                        @foreach (var supplier in Model.Suppliers)
                                        {
                                            @* var selectedSupplierIds = new HashSet<int>(Model.Product.Suppliers.Select(s => s.Id));
                                            if (selectedSupplierIds.Contains(supplier.Id)) *@

                                            if (Model.Product.Suppliers.Any(s=> s.Id == supplier.Id))
                                            {
                                                <option value="@supplier.Id" selected>@supplier.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@supplier.Id">@supplier.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>SKU</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Minimum Qty</label>
                                <input asp-for="Product.AlertLevel" type="text">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input asp-for="Product.Count" type="text">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="Product.Price"></label>
                                <input asp-for="Product.Price">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label> Product Image</label>
                                <div class="image-upload">
                                    <input type="file">
                                    <div class="image-uploads">
                                        <img src="~/img/icons/upload.svg" alt="img">
                                        <h4>Drag and drop a file to upload</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a asp-controller="Product" asp-action="ProductList" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>


@section Scripts
{
    <script>

        function arraysEqual(arr1, arr2) 
        {
            if (arr1.length !== arr2.length) 
                return false;
            arr1 = arr1.slice().sort();
            arr2 = arr2.slice().sort();
            for (var i = 0; i < arr1.length; i++) 
            {
                if (arr1[i] !== arr2[i]) 
                    return false;
            }
            return true;
        }

        var initialSelected = []

        $(document).ready(function () 
        {
            initialSelected = $('#multiple-checkboxes').val() || [];

            $('#edit-product-form').validate();

            $(".btn-submit").on("click", function (e) {
                e.preventDefault();

                if ($('#edit-product-form').valid()) {
                    document.getElementById('edit-product-form').dispatchEvent(new Event('submit'));
                }
            });
        });


        document.addEventListener('DOMContentLoaded', function ()
        {
            document.getElementById('edit-product-form').addEventListener('submit', function (event)
            {
                var originalName = document.getElementById('originalProductName').value;
                var originalCategoryId = document.getElementById('originalCategoryId').value;
                var originalPrice = document.getElementById('originalPrice').value;
                var originalAlertLevel = document.getElementById('originalAlertLevel').value;
                var originalCount = document.getElementById('originalCount').value;


                var currentName = document.getElementById('Product_Name').value;
                var currentCategoryId = document.getElementById('CategoryId').value;
                var currentPrice = document.getElementById('Product_Price').value;
                var currentAlertLevel = document.getElementById('Product_AlertLevel').value;
                var currentCount = document.getElementById('Product_Count').value;

                var lastSelected = $('#multiple-checkboxes').val() || [];

                if (originalName === currentName &&
                    originalCategoryId === currentCategoryId &&
                    originalPrice === currentPrice &&
                    originalAlertLevel === currentAlertLevel &&
                    originalCount === currentCount &&
                    arraysEqual(initialSelected, lastSelected))
                {
                    event.preventDefault();

                    var resultMessage = document.getElementById('resultMessage');

                    resultMessage.innerText = 'No changes detected. Form not submitted.';
                    return;
                }
                else
                {
                    showSubmitConfirmation('/Product/EditProduct', "Product", "#edit-product-form", function () 
                    {
                        window.location.href = '/Product/ProductList';
                    });
                }
            });
        });
    </script>
}